<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#"><%= image_tag("LogoPutih.png") %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                  	<li class="nav-item">
                      <a class="nav-link" href="/admin/index">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/santri">Data Santri</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/guru">Data Guru</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/pengasuhan">Pengasuhan</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/admin/pengaturan">Pengaturan</a>
                    </li>
                    <li class="nav-item">
						          <%= link_to 'logout',admin_logout_path, method: :delete, class: 'nav-link' %>
                    </li>                    
                 </ul>
                </div>  
</nav>
<!--end navbar-->
</header>
<!--end header-->
<!--kolom-->
<div class="kolom">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#psb">Info PSB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#kalender">Kalender Akademik</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#kontak">Kontak</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#kenaikan">Kenaikan Kelas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#kelulusan">Kelulusan Santri</a>
      </li>
  </ul>
</div>
<!--end kolom-->