<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><%= image_tag("LogoPutih.png") %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profil">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/galeri">Galeri</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Informasi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/info-psb">Info PSB</a>
          <a class="dropdown-item" href="/kalender-akademik">Kalender Akademik</a>
        </div>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/kontak">Kontak</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Portal Pendidikan
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/santri">Raport</a>
            <a class="dropdown-item" href="/kenaikan-kelas">Pengumuman Kenaikan</a>
            <a class="dropdown-item" href="/kelulusan">Pengumuman Kelulusan</a>
          </div>
      </li>                
    </ul>
  </div>  
</nav>
<!--end navbar-->
</header>
<!--end header-->
<!--fasilitas-->
<div class="title2">
  <h2>Fasilitas</h2> 
</div>
<!--end fasilitas-->
<!--kolom-->
<div class="kolom">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#sekolah">Sekolah</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#asrama">Asrama</a>
    </li>
  </ul>
  <!--tab content-->
  <div id="myTabContent" class="tab-content">
    <!--sekolah-->
    <div class="tab-pane show active" id="sekolah">
      <!--isi sekolah-->
      <div class="isisekolah">
        <!--gedung sekolah-->
        <div class="gedungsekolah">
          <h5>Gedung Sekolah</h5>
          <p>Gedung sekolah merupakan sarana tempat belajar mengajar para guru dan santri, dimana antara santri putra maupun santri putri memiliki gedung yang berbeda.</p>
        </div>
        <!--end gedung sekolah-->
        <hr>
        <!--laboratorium sekolah-->
        <div class="labsekolah">
          <h5>Laboratorium Sekolah</h5>
          <p>Laboratorium sekolah merupakan penunjang untuk pendidikan santri pada bidang akademiknya, di Pondok Pesantren Pabelan terdapat beberapa laboratorium, diantaranya: laboratorium komputer, laboratorium jahit, laboratorium kimia, fisika dan biolgi.</p>
        </div>
        <!--end laboratorium sekolah-->
        <!--perpustakaan-->
        <div class="perpus">
          <h5>Perpustakaan</h5>
          <p>Pepustakaan juga merupakan salah satu penunjang dalam belajar mengajar, dimana dengan adanya perpustakaan para santri putra maupun putri dapat dengan bebas mencari buku sesuai dengan keinginan dari berbagai jenis buku dan referensi buku. perpustakaan sendiri juga memiliki jam tertentu untuk membagi jam santri putra maupun putri.</p>
        </div>
        <!--end perpistakaan sekolah-->
      </div>
      <!--end isi sekolah-->
    </div>
    <!--end sekolah-->
    <!--asrama-->
    <div class="tab-pane" id="asrama">
      <!--isi asrama-->
      <div class="isiasrama">
        <!--gedung asrama-->
        <div class="gedungasrama">
          <h5>Gedung Asrama</h5>
          <p>Gedung Asrama yang berfungsi sebagai tempat peristirahatan santri dan juga tempat belajar mengajar diluar akademik. Gedung asrama di komplek putri diantaranya: Gedung Gubernur dan Gedung Kalpataru, sedangkan gedung asrama di santri putra diantaranya: Gedung Presiden dan Gedung Qwait</p>
        </div>
        <!--end gedung asrama-->
        <hr>
        <!--lapangan asrama-->
        <div class="lapangan">
          <h5>Lapangan Olahraga</h5>
          <p>Lapangan Olahraga merupakan salah satu fasilitas yang paling digemari santri, terutama santri Putra. di Pondok Pesantren Pabelan sendiri ada beberapa lapangan olahraga yang ada, diantaranya : Lapangan basket, Lapangan badminton, Lapangan Voli, dan lain sebagainya.</p>
        </div>
        <!--end lapangan asrama-->
        <!--bksm-->
        <div class="bksm">
          <h5>Balai Kesehatan Masyarakat dan Santri</h5>
          <p>Lembaga ini merupakan wujud kepedulian pesantren terhadap masyarakat sekitar yang diresmikan oleh Pimpinan Pondok Pesantren Pabelan untuk melayani kesehatan masyarakat dan santri.</p>
        </div>
        <!--end bksm-->
        <!--koperasi-->
        <div class="koperasi">
          <h5>Koperasi</h5>
          <p>Koperasi berisikan kebutuhan-kebutuhan santri, baik itu untuk akademik maupun diluar akademik. Jadi dengan terbatasnya perizinan keluar komplek Pondok, para santri tidak perlu khawatir karena adanya koperasi.</p>
        </div>
        <!--end koperasi-->
        <!--PO-->
        <div class="po">
          <h5>Pabelan Online</h5>
          <p>Seiring dengan kemajuan teknologi informasi, Pondok Pesantren Pabelan menyediakan Pabelan Online yang dapat digunakan oleh para santri untuk mencari tugas ataupun pengetahuan luar lain yang nantinya dapat menambah wawasan santri mengenai dunia luar, sehingga para santri tidak kudet ataupun gagal teknologi.</p>
        </div>
        <!--end PO-->
        <!--kantin-->
        <div class="kantin">
          <h5>kantin</h5>
          <p>Apabila jam makan tiba dan para santri ingin merasakan lauk yang berbeda datanglah ke kantin. Kantin menyediakan berbagai macam lauk-pauk yang dijual oleh masyarakat sekitar melalui ustadzah pondok, dan juga berbagai macam makanan dan minuman lain.</p>
        </div>
        <!--end kantin-->
        <!--dapur-->
        <div class="dapur">
          <h5>dapur</h5>
          <p>Pondok Pesantren Pabelan memiliki 3 dapur, 2 dapur untuk putra dan 1 dapur untuk putri. Jika jam makan telah tiba para santri datang ke dapur dengan membawa piring masing-masing untuk mengantri mengambil nasi dan lauk di dapur.</p>
        </div>
        <!--end dapur-->
      </div>
      <!--end isi asrama-->
    </div>
    <!--end asramaa-->
  </div>
    <!--end tab content-->
</div>
<!--end kolom-->

