 	<!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#"><%= image_tag("LogoPutih.png") %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/profil">Profil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/galeri">Galeri</a>
                    </li>
                    <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Informasi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/info-psb">Info PSB</a>
                  <a class="dropdown-item" href="/kalender-akademik">Kalender Akademik</a>
                </div>
            </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/kontak">Kontak</a>
                    </li>
                    <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Portal Pendidikan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/santri">Raport</a>
                  <a class="dropdown-item" href="/kenaikan-kelas">Pengumuman Kenaikan</a>
                  <a class="dropdown-item" href="/kelulusan">Pengumuman Kelulusan</a>
                </div>
            </li>
                    
                 </ul>
                </div>  
    </nav>
    <!--end navbar-->
</header>
<!--title-->
<div class="title2">
	<h2>Kuliyyatul Mu'allimien Al-Islamiyah</h2>
</div>
<!--end title-->
<!--isi kmi-->
<div class="isikmi">
	<!--pengertian-->
	<div class="arti-kmi">
		<h4>Pengertian</h4>
		<ol>
			<li><p>Kuliyatul Mu’allimien Al-Islamiyah (KMI) adalah sebuah institusi yang merupakan bagian tak terpisahkan dari keseluruhan proses kependidikan yang diselenggarakan di Lembaga Pendidikan Pondok Pesantren Pabelan. KMI adalah nama lembaga dibawah lembaga Pondok Pesantren Pabelan yang menyelenggarakan pendidikan formal (kegiatan belajar mengajar di Kelas).</p></li>
			<li><p>Kurikulum KMI adalah seperangkat rencana dan pengetahuan mengenai isi dan bahan pelajaran serta cara yang di gunakan, sebagai pedoman penyelenggaraan kegiatan belajar mengajar dalam rangka uantuk mencapai tujuan pendidikan di Pondok Pesantren Pabelan.</p></li>
		</ol>
	</div>
	<!--end pengertian-->
	<hr>
	<!--landasan kmi-->
	<div class="landasan-kmi">
		<h4>Landasan</h4>
		<p>
			Nilai-nilai dasar Keislaman, Kepesantrenan, Perjuangan dan Kebangsaan.
		</p>
	</div>
	<!--end landasan kmi-->
	<hr>
	<!--visi-->
	<div class="visi">
		<h4>Visi</h4>
		<p>
			Mendidik para santri menjadi Mukmin, Muslim dan Muhsin yang berbudi tinggi, berbadan sehat, berpengetahuan luas dan berfikiran bebas.
		</p>
	</div>
	<!--end visi-->
	<hr>
	<!--misi-->
	<div class="misi">
		<h4>Misi</h4>
		<ol>
			<li><p>Menanamkan dan meningkatkan disiplin santri untuk melaksanakan ajaran Islam dalam kehidupan sehari-hari.</p></li>
			<li><p>Menanamkan jiwa Keikhlasan, Kesederhanaan, Ukhuwah Diniyah, Kemandirian dan Kebebasan dalam kehidupan sehari-hari.</p></li>
			<li><p>Menyelenggarakan pendidikan formal dengan Kurikulum Pesantren yang disesuaikan dengan Pendidikan Nasional.</p></li>
			<li><p>Mendidik dan mengantarkan santri untuk mampu mengenal Jati diri dan lingkunganya serta mempunyai motifasi dan kemampuan untuk mengembangkan diri sesuai dengan perilaku hidupnya.</p></li>
			<li><p>Mendidik dan mempersiapkan santri untuk menjadi manusia mandiri dan berkhidmad kepada masyarakat, agama, nusa dan bangsa.</p></li>
		</ol>
	</div>
	<!--end misi-->
	<hr>
	<!--kurikulum-->
	<div class="kurikulum-kmi">
		<h4>Kurikulum KMI berfungsi untuk :</h4>
		<ol>
			<li><p>Acuan bagi para Ustadz/guru dalam merencanakan, melaksanakan dan menilai kegiatan belajar mengajar.</p></li>
			<li><p>Acuan bagi para Ustsdz/guru dalam menentukan setrategi, pendidikan dan metode yang sesuai dengan tujuan pembelajaran.</p></li>
			<li><p>Acuan bagi para Ustadz/guru dalam mengelola kelas sehingga dapat dimanfaatkan secara efektif dan efisien.</p></li>
		</ol>
	</div>
	<!--end kurikulum-->
	<hr>
	<!--tujuan-->
	<div class="tujuan">
		<h4>Kurikulum KMI bertujuan untuk :</h4>
		<ol>
			<li><p>Membentuk para Ustadz/guru dalam memahami Garis-Garis Besar Program Pengajaran KMI dan komponen-komponennya.</p></li>
			<li><p>Membentuk para Ustadz/guru memahami dan melaksanakan pembelajaran sesuai dengan kurikulum yang di tetapkan.</p></li>
			<li><p>Membantu para Ustadz/guru dalam memberikan kejelasan makna, misi, isi, pesan dan target yang harus dicapai dalam suatu mata pelajaran.</p></li>
		</ol>
	</div>
	<!--end tujuan-->
	<hr>
</div>
<!--end isi kmi-->