 	  <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#"><%= image_tag("LogoPutih.png") %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/profil">Profil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/galeri">Galeri</a>
                    </li>
                    <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Informasi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/info-psb">Info PSB</a>
                  <a class="dropdown-item" href="/kalender-akademik">Kalender Akademik</a>
                </div>
            </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/kontak">Kontak</a>
                    </li>
                    <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Portal Pendidikan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/santri">Raport</a>
                  <a class="dropdown-item" href="/kenaikan-kelas">Pengumuman Kenaikan</a>
                  <a class="dropdown-item" href="/kelulusan">Pengumuman Kelulusan</a>
                </div>
            </li>
                    
                 </ul>
                </div>  
    </nav>
    <!--end navbar-->
  </header>
  <!--title-->
<div class="title2">
  <h2>Madrasah Aliyah</h2>
</div>
<!--end title-->
<!--isi MA-->
<div class="isima">
  <!--sejarah ma-->
  <div class="sejarahma">
    <h4>Sejarah Berdirinya MA Pabelan</h4>
    <p>
      Pada tahun 1991, Yayasan Wakaf Pondok Pesantren Pabelan yang waktu itu diketuai oleh Drs. H. Wasit Abu Ali (alm.) mendirikan Madrasah Aliyah Pondok Pesantren Pabelan dengan SK Pendirian: WK/5.d/218/pgm/MA/1991. Pada waktu itu, statusnya masih ‘terdaftar’. Kemudian, pada tahun 1998, statusnya meningkat menjadi ‘diakui’, dan pada tahun 2005 Madrasah Aliyah Pondok Pesantren Pabelan mendapatkan akreditasi A (Sangat Baik).
    </p>
  </div>
  <!--end sejarah ma-->
  <hr>
  <!--visi ma-->
  <div class="visima">
    <h4>Visi Madrasah</h4>
    <p>
      meningkatkan dan mengembangkan potensi dan sumber daya manusia, sehingga tercapai sumber daya manusia Indonesia yang unggul dan berkualitas, beriman, bertakwa, berbudi tinggi, cerdas, terampil, dan mandiri, untuk mencapai tujuan pembangunan nasional.
    </p>
  </div>
  <!--end visi ma-->
</div>
<!--end isi MA-->
