 	  <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#"><%= image_tag("LogoPutih.png") %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/profil">Profil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/galeri">Galeri</a>
                    </li>
                    <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Informasi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/info-psb">Info PSB</a>
                  <a class="dropdown-item" href="/kalender-akademik">Kalender Akademik</a>
                </div>
            </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/kontak">Kontak</a>
                    </li>
                    <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Portal Pendidikan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/santri">Raport</a>
                  <a class="dropdown-item" href="/kenaikan-kelas">Pengumuman Kenaikan</a>
                  <a class="dropdown-item" href="/kelulusan">Pengumuman Kelulusan</a>
                </div>
            </li>
                    
                 </ul>
                </div>  
    </nav>
    <!--end navbar-->
  </header>
  <!--title-->
<div class="title2">
  <h2>Madrasah Tsanawiyah</h2>
</div>
<!--end title-->
<!--isi mts-->
<div class="isimts">
  <!--definisi mts-->
  <div class="definisi">
    <h4>Indentitas Madrasah</h4>
    <p>
      
    </p>
  </div>
  <!--end definisi mts-->
  <hr>
  <!--visi mts-->
  <div class="visimts">
    <h4>Visi Madrasah</h4>
    <p>
      Terwujudnya Lulusan Madrasah Tsanawiyah Pondok Pabelan yang Beriman, Bertaqwa, Berilmu, Disiplin, Sehat Jasmani Rohani dan Mandiri
    </p>
  </div>
  <!--end visi mts-->
  <hr>
  <!--misi mts-->
  <div class="misimts">
    <h4>Misi Madrasah</h4>
    <ol>
      <li><p>Memberikan dasar – dasar kemampuan keagamaan</p></li>
      <li><p>Memberikan landasan metodologi dalam memahami ajaran Islam</p></li>
      <li><p>Mengembangkan kemampuan berbahasa Arab dan Inggris</p></li>
      <li><p>Meningkatkan kemampuan berfikir kreatif</p></li>
      <li><p>Membangun budaya Madrasah sebagai ciri khas</p></li>
    </ol>
  </div>
  <!--end misi mts-->
  <hr>
  <!--tujuan mts-->
  <div class="tujuanmts">
    <h4>Tujuan Madrasah</h4>
    <p>
      Membentuk lulusan Madrasah yang Berkualitas, Berakhlaq Mulia, Berbadan Sehat, Berpengetahuan Luas, Berfikir Bebas, serta dapat melanjutkan ke jenjang pendidikan yang lebih tinggi.
    </p>
  </div>
  <!--end tujuan mts-->
</div>
<!--end isi mts-->