<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><%= image_tag("LogoPutih.png") %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profil">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/galeri">Galeri</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Informasi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/info-psb">Info PSB</a>
          <a class="dropdown-item" href="/kalender-akademik">Kalender Akademik</a>
        </div>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/kontak">Kontak</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Portal Pendidikan
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/santri">Raport</a>
            <a class="dropdown-item" href="/kenaikan-kelas">Pengumuman Kenaikan</a>
            <a class="dropdown-item" href="/kelulusan">Pengumuman Kelulusan</a>
          </div>
      </li>                
    </ul>
  </div>  
</nav>
<!--end navbar-->
</header>
<!--title prestasi-->
<div class="title2">
  <h2>Prestasi</h2>
</div>
<!--end title prestasi-->
<!--prestasi-->
<div class="prestasi">
  <!--isi prestasi 1-->
  <div class="prestasi1">
    <!--foto prestasi 1-->
    <div class="foto-prestasi1">
      <%= image_tag("prestasi1.jpg") %>
    </div>
    <!--end foto prestasi 1-->
    <!--isi 1-->
    <div class="isiprestasi1">
      <h3>The Aga Khan Award for Architecture</h3>
      <p align="justify">
         merupakan penghargaan arsitektural yang digagas oleh Aga Khan IV pada tahun 1977. Ditujukan untuk menandai dan menghargai konsep arsitektural yang berhasil mewadahi keperluan dan aspirasi masyarakat yang Islami dalam jalur rancangan kontemporer, pemukiman, pengembangan dan peningkatan lingkungan, restorasi, konservasi area, termasuk juga arsitektur lansekap dan pengembangan lingkungan. Penghargaan ini diumumkan setiap tiga tahun sekali untuk beberapa proyek sekaligus dan memberikan penghargaan keuangan, dengan total hadiah sampai US$ 500.000. Di antara berbagai penghargaan arsitektural, penghargaan ini memperkenalkan proyek, tim perancang dan semua pihak yang terlibat selain bangunan dan masyarakat sekitarnya.
      </p>
      <p align="justify">
        Pondok Pesantren Pabelan mendapatkan peghargaan ini pada tahun 1980 yang diserahkan langsung oleh Presiden Pakistan Ziyaul Haq langsung kepada K.H Hamam Dja’far.
      </p>
      <p align="justify">
        Sumber : <a href="http://www.akdn.org/architecture/project/pondok-pesantren-pabelan">http://www.akdn.org/architecture/project/pondok-pesantren-pabelan</a>
      </p>
    </div>
    <!--end isi 1-->
  </div>
  <!--end isi prestasi 1-->
  <hr>
  <!--isi prestasi 2-->
  <div class="prestasi2">
    <!--foto prestasi 2-->
    <div class="foto-prestasi2">
      <%= image_tag("prestasi2.jpg") %>
    </div>
    <!--end foto prestasi 2-->
    <!--isi 2-->
    <div class="isiprestasi2">
      <h3>"Kalpataru" Penyelamat Lingkungan</h3>
      <p align="justify">
        Penghargaan ini diberikan oleh pemerintah RI karena keberhasilan Pondok Pabelan dalam menjaga dan melestraikan lingkungan hidup dan diserahkan oleh Menteri Lingkungan Hidup saat itu yaitu Prof. Emil Salim.
      </p>
      <p align="justify">
        Sumber : <a href="https://id.wikipedia.org/wiki/Kalpataru_(penghargaan)">https://id.wikipedia.org/wiki/Kalpataru_(penghargaan)</a>
      </p>
    </div>
    <!--end isi 2-->
  </div>
  <!--end isi prestasi 2-->
  <hr>
  <!--isi prestasi 3-->
  <div class="prestasi3">
    <!--foto prestasi 3-->
    <div class="foto-prestasi3">
      <%= image_tag("prestasi3.jpg") %>
    </div>
    <!--end foto prestasi 3-->
    <!--isi 3-->
    <div class="isiprestasi3">
      <h3>Manggala Bhakti Husada Karya "Arutala"</h3>
      <p title="justify">
        Pondok Pesantren Pabelan dinilai berhasil oleh Kementerian Kesehatan Republik Indonesia dalam bidang pelayanan kesehatan santri dan masyarakat. Penghargaan ini diserahkan langsung oleh Presiden Susilo Bambang Yudhoyono.
      </p>
      <p align="justify">
        Sumber : <a href="https://id.wikipedia.org/wiki/Pondok_Pesantren_Pabelan">https://id.wikipedia.org/wiki/Pondok_Pesantren_Pabelan</a>
      </p>
    </div>
    <!--end isi 3-->
  </div>
  <!--end isi prestasi 3-->
</div>
<!--end prestasi-->