 	  <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#"><%= image_tag("LogoPutih.png") %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/profil">Profil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/galeri">Galeri</a>
                    </li>
                    <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Informasi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/info-psb">Info PSB</a>
                  <a class="dropdown-item" href="/kalender-akademik">Kalender Akademik</a>
                </div>
            </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/kontak">Kontak</a>
                    </li>
                    <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Portal Pendidikan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/santri">Raport</a>
                  <a class="dropdown-item" href="/kenaikan-kelas">Pengumuman Kenaikan</a>
                  <a class="dropdown-item" href="/kelulusan">Pengumuman Kelulusan</a>
                </div>
            </li>
                    
                 </ul>
                </div>  
    </nav>
    <!--end navbar-->
  </header>
  <!--title-->
<div class="title2">
  <center><h2>Takhasus</h2></center>
</div>
<!--end title-->
<!--isi takhasus-->
<div class="isitakhasus">
  <!--pengertian takhasus-->
  <div class="artitakhasus">
    <h4>Pengertian Takhasus</h4>
    <p>
      
    </p>
  </div>
  <!--end pengertian takhasus-->
  <hr>
  <!--materi takhasus-->
  <div class="materitakhasus">
    <h4>Materi Takhasus</h4>
    <ol>
      <li><p>Agama</p></li>
      <li><p>Bahasa Asing (Arab dan Inggris)</p></li>
      <li><p>Perilaku Organisasi</p></li>
    </ol>
  </div>
  <!--end materi takhasus-->
  <hr>
  <!--tujuan takhasus-->
  <div class="tujuantakhasus">
    <h4>Tujuan Takhasus</h4>
    <p>
      Program takhasus bertujuan agar santri memiliki pengetahuan yang standar untuk masuk ke jenjang Aliyah di pesantren dalam hal agama, bahasa, dan organisasi.
    </p>
  </div>
  <!--end tujuan takhasus-->
  <hr>
</div>
<!--end isi takhasus-->