</header>
<div class="raport-santri m-5">
	<legend>Nilai Raport</legend>
	<hr>
	<table class="table table-dark">
		<tr>
			<th>Bahasa Indonesia</th>
			<td>angka</td>
			<td>huruf</td>
		</tr>
		<tr>
			<th>Matematika</th>
			<td>angka</td>
			<td>huruf</td>
		</tr>
		<tr>
			<th>IPA</th>
			<td>angka</td>
			<td>huruf</td>
		</tr>
		<tr>
			<th>IPS</th>
			<td>angka</td>
			<td>huruf</td>
		</tr>
	</table>
</div>
<div class="kenaikan-kelas-santri m-5">
	<legend>Kenaikan Kelas</legend>
	<hr>
	<table class="table table-light">
		<tr>
			<td>Anda : </td>
			<td>kenaikan</td>
		</tr>
	</table>
</div>
<div class="ekskul-santri p-5">
	<legend>Ekstrakulikuler</legend>
	<hr>
	<table class="table table-dark">
		<tr>
			<td>Pramuka</td>
			<td>A</td>
		</tr>
		<tr>
			<td>Paskibra</td>
			<td>B</td>
		</tr>
	</table>
</div>
<a href="">Logout</a>
</div>