body{
	background-image: url(pabelan1.jpg);
	background-size: 100%;
	background-attachment: fixed;
}
.wrapper{
	background-image: url(default-bg.png);
	background-repeat: repeat;
	width: 100%;
}
header{
	margin-top: -5px;
}
.atas{
	width: 100%;
	height: 17px;
}
.navbar-brand img{
	width: 70%;
	margin: -5px 0px;
}
.nav-link {
	font-size: 14px;
}
.dropdown-item{
	font-weight: 900;
}
.dropdown-item:hover {
	background-color: #ffcc00;
	color: black;
}
.carousel-item{
	width: 99%;
	height: 500px;
	margin: 5px;
	
}
.carousel-item img{
	width: 100%;
	height: 100%;
}
.carousel-caption .tit , .desc{
	background-color: rgba(211, 211, 211, 0.7);
	color: black;
}
.pendidikan{
	width: 100%;
	height: 320px;
	background-image: url(default-bg.png);
	background-repeat: repeat;
}
.pendidikan h3{
	text-align: center;
	padding-top: 3%;
	text-shadow: 2px 0px #ffcc00;
	font-weight: 700;
	font-family: Arial;
}
.icon {
	margin-left: 11%;
	margin-right: 5%;
	margin-top: 2.5%;
}
.icon div{
	width: 13%;
	margin-left: 8%;
	float: left;
}
.icon div img{
	width: 100%;
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.9));
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.icon div img:hover{
	width: 105%;
	-webkit-filter: drop-shadow(0px 0px 8px rgba(255, 204, 0, 0.9));
}
.icon p{
	margin-top: 5%;
	text-align: center;
}
.berita{
	width: 100%;
	height: 1600px;	
	background-image: url(default-bg.png);
	background-repeat: repeat;
	
}
.berita1{
	float: left;
	width: 70%;
	height: 100%;
}
.card{
	float: left;
	width: 47%;
	margin-bottom: 10%;
}
.card-text{
	text-align: justify;
}
aside{
	float: left;
	width: 30%;
	height: 100%;
}
.isiaside {
	margin: 10px;
}
.isiaside h5{
	text-align: center;
}
.isiaside ul li{
	margin: 10px;
	display: block;
}
.isiaside ul li a:hover{
	color: #4682B4;
	font-weight: 700;
}
.card{
	margin: 10px;
}
.explore{
	width: 90%;
	height: 450px;
	margin-left: 10%;
	clear: both;
}
.explore h3{
	text-align: center;
	color: black;
	margin-top: 50px;
	margin-left: -10%;
	font-weight: 900;
	font-family: BroadWay;
	font-size: 30pt;
}
.explore div{
	width: 20%;
	height: 270px;
	float: left;
	margin:5%;
	background: rgba(211, 211, 211, 0.7);
}
.explore1 img{
	width: 80%;
	margin: 5% 0%;
}
.explore2 img{
	width: 85%;
	margin: 2% 0% 2% 0%;
}
.explore3 img{
	width: 90%;
}
.explore div h5{
	text-align: center;
	font-weight: 900;
	font-family: centaur;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.explore div h5:hover{
	font-size: 14pt;
}
.bawah {
	width: 100%;
	height: 17px;
	margin-bottom: -1px;
}
footer{
	width: 100%;
	height: 270px;
	border: 1px solid black;
	background-color: black;
}
.footer1{
	width: 100%;
	height: 200px;
	background-color: #101010;
}
.footera{
	float: left;
	width: 28%;
}
.footera .logo{
	margin: 7%;
}
.contact {
	margin: -5% 0% 20% 12%;
}
.contact .fb, .ig, .email, .tlp, .loc{
	float: left;
	width: 10%;
	margin: 5px;
}
.contact img:hover{
	background-color: #008fb3;
	border-radius: 20px;
}
.footerb{
	float: left;
	width: 30%;
}
.footerb h4{
	margin-top: 7%;
	color: white;
}
.footerc{
	float: left;
	width: 42%;
}
.depag {
	width: 20%;
	margin: 1%;
	padding-top: 5%;
}
.binanbud{
	width: 70%;
	margin: 1%;
	padding-top: 5%;
}
.footer2{
	clear: both;
}
.footer2 label{
	margin-top: 2%;
}

/*title 2...........................................................................*/
.title2{
	width: 100%;
	height: 90px;
	border: 1px solid #4682B4;
	background-color: #4682B4;
}
.title2 h2{
	color: white;
	text-align: left;
	margin: 30px  120px;
	text-shadow: 2px 0px #696969;
	font-weight: 700;
}

/*kmi----------------------------------------------------------------------------------*/
.isikmi{
	color: black;
	margin: 10px 120px;
}
/*Mts----------------------------------------------------------------------------------*/
.isimts{
	color: black;
	margin: 10px 120px;
}
/*Takhasus----------------------------------------------------------------------------------*/
.isitakhasus{
	color: black;
	margin: 10px 120px;
}
/*MA----------------------------------------------------------------------------------*/
.isima{
	color: black;
	margin: 10px 120px;
}
/*fasilitas----------------------------------------------------------------------------------*/
.isisekolah{
	color: black;
	margin: 10px 0px;
}
.isiasrama{
	color: black;
	margin: 10px 0px;	
}
/*prestasi-----------------------------------------------------------------------------*/
.prestasi{
	margin: 10px 120px;
}
.foto-prestasi1 img{
	height: 330px;
	width: 350px;
}
.isiprestasi1{
	color: black;
}
.isiprestasi1 h3{
	margin-top: 20px;
}
.isiprestasi1 a:hover {
	color: #4682B4;
	font-weight: 700;
}
.foto-prestasi2 img{
	height: 330px;
	width: 350px;
}
.isiprestasi2{
	color: black;
}
.isiprestasi2 h3{
	margin-top: 20px; 
}
.isiprestasi2 a:hover {
	color: #4682B4;
	font-weight: 700;
}
.foto-prestasi3 img{
	height: 330px;
	width: 350px;
}
.isiprestasi3{
	color: black;
}
.isiprestasi3 h3{
	margin-top: 20px; 
}
.isiprestasi3 a:hover {
	color: #4682B4;
	font-weight: 700;
}
/*Profil-------------------------------------------------------------------------------*/
.title{
	width: 100%;
	height: 90px;
	border: 1px solid #4682B4;
	background-color: #4682B4;
}
.title h2{
	color: white;
	text-align: left;
	margin: 30px 40px;
	text-shadow: 2px 0px #696969;
	font-weight: 700;
}
.kolom{
	width: 81%;
	height: 100%;
	margin-left: 9%;
	background-color: white;
	
}
.foto-pendiri {
	width: 22%;
	float: left;
}
.foto-pendiri img{
	width: 100%;
	margin-top: 10px;
}
.biografi-pendiri{
	width: 73%;
	margin: 10px 20px;
	float: left;
}
.biografi-pendiri h3{
	text-align: center;
}
.biografi-pendiri p{
	color: black;
}
.pimpinan1{
	width: 33%;
	float: left;
}
.pimpinan2{
	width: 33%;
	float: left;
	border-left: 1px solid #D3D3D3;
	border-right: 1px solid #D3D3D3;
}
.pimpinan3{
	width: 33%;
	float: left;
}
.foto-pimpinan{
	margin-top: 10px;	
}
.foto-pimpinan img{
	width: 75%;
	height: 300px;
}
.biografi-pimpinan h3{
	text-align: center;
	margin-top: 10px;
}
.biografi-pimpinan p{
	width: 90%;
	margin: 18px;
	color: black;
}
.foto-sejarah{
	width: 100%;
	height: 300px;
}
.foto-sejarah img{
	width: 35%;
	margin-top: 10px;
}
.sejarah-pondok h3{
	text-align: center;
}
.sejarah-pondok{
	margin: 10px;
	color: black;
}
#visimisi {
	color: black;
}

/*galeri---------------------------------------------------------------------------------*/
.setengahabad-galeri{
	width: 100%;
	margin: 20px 0px;
}
.setengahabad-galeri img{
	width: 19%;
	height: 200px;
	margin: 2px 2px;
}
.kegiatan-galeri{
	width: 100%;
	margin: 20px 0px;
}
.kegiatan-galeri img{
	width: 19%;
	height: 200px;
	margin: 2px 2px;
}

/*kontak--------------------------------------------------------------------------------*/
.isi-kontak{
	color: black;
}

/*login---------------------------------------------------------------------------------*/
.login-area{
	margin: 150px 35%;
	background: rgba(211, 211, 211, 0.9);
}
.inside-login-area{
	padding: 40px;
}

/*admin-----------------------------------------------------------------------------------*/
.edit-kontak{
	margin: 30px;
}
.oops-image{
	width: 20%;
}
/*pengasuhan------------------------------------------------------------------------------*/
.pesan{
	width: 50%;
	margin:1% 25%;
}
/*------------------------------------------RESPONSIVE------------------------------------*/
@media screen and (max-width: 1000px)
{
	.berita1
	{
		width: 100%;
		background-image: url(default-bg.png);
		background-repeat: repeat;
	}
	.berita{
		height: auto;
	}
	aside {
		width: 100%;
		background-image: url(default-bg.png);
		background-repeat: repeat;
	}
	.footer1{
		height: auto;
		background-color: #101010;
	}
	.footera{
		width: 50%;
	}
	.footerb{
		width: 50%;
	}
	.footerc{
		width: 100%;
		background-color: #101010;
	}
	.footer2 {
		height: auto;
		background-color: black;
	}
	.pendidikan{
		width: 100%;
	}
	.icon1, .icon2, .icon3, .icon4 {
		width: 100%;
	}
}
@media screen and (max-width: 480px)
{
	.pendidikan {
		width: 100%;
		height: auto;
		background-image: url(default-bg.png);
		background-repeat: repeat;
	}
	.icon {
		width: 100%;
		margin: 0%;
		background-image: url(default-bg.png);
		background-repeat: repeat;
	}
	.icon div{
		width: 50%;
		background-image: url(default-bg.png);
		background-repeat: repeat;
		margin: 0%;
	}
	.icon div img{
		width: 60%;
		margin: 0% 20%;
	}
	.icon div img:hover{
		width: 60%;
	}
	/*
	.explore {
		width: 90%;
		height: auto;
	}
	.explore div{
		width: 100%;
	}
	.explore1 img{
		width: 100%;
	}
	*/
	.footer{
		width: 100%;
		height: auto;
	}
	.footer1{
		width: 100%;
		height: auto;
		background-color: #101010;
	}
	.footera{
		width: 100%;
	}
	.footerb{
		width: 100%;
		height: auto;
		background-color: #101010;
	}
	.footerc{
		width: 100%;
		background-color: #101010;
	}
	.footer2 {
		height: auto;
		background-color: black;
	}

}